
<h2 class="ui center aligned icon header">
  <i class="folder icon"></i>
  New Directory
</h2>

<%= render 'form', directory: @directory %>
<br>
<%= link_to 'Voltar', directories_path ,class: "ui button"%>