<nav class="navbar navbar-expand-lg bg-light" style="min-height: 3.5em;">
  <div class="container-fluid">
  </div>
</nav>
<div class="container">
  <%= link_to new_file_upload_path, remote: true, class:"btn btn-success mt-5 mb-5", data: {bs_toggle:"modal", bs_target:"#modal"} do %>
    Adicionar Arquivos
  <% end %>
  <div class="accordion">
    <% @file_uploads.each do |file_upload| %>
      <%= render 'list', file_upload: file_upload %>
      <% file_upload.sub_directories.each do |sub_directory| %>
       <%= render 'list', file_upload: sub_directory %>
      <% end %>
    <% end %>
  </div>
</div>
