<h1>Upload for Directory <%= @directory.name %></h1>
 
<%= form_with model: @directory, url: directory_file_uploads_path(@directory),
              method: :post, local: true do |f| %>
  <%= f.file_field :files, multiple: true %><br /><br />
  <%= f.submit 'Upload' %>
<% end %>
