<div id="sub_folder">

<div  class="row" >
	<% folder.sub_folders.each do |subfolder| %>
        <div class="col-sm-3 text-center ">
        	<div class="d-block">
              <i class="bi-folder-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
            </div>
            <div class="d-block">   
            	<%= link_to subfolder.name , sub_folder_path(subfolder), class:"btn btn-light" %> 
            </div>
            <br>
        </div>
    <% end %>

    </div>
 </div>

