<div id="sub_folder">


	<% folder.sub_folders.each do |subfolder| %>
	<div class="d-block">
      <i class="bi-folder-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
    </div>
    <div class="d-block">   
	
		<%= subfolder.name%>
	
    </div>
    <br>
    <% end %>

</div>