<div id="<%= dom_id sub_folder %>">

  <div class="d-block">
      <i class="bi-folder-fill" style="font-size: 2rem; color: hotpink;"></i>
    </div>
    <div class="d-block">  
       <%= link_to sub_folder.name, sub_folder_path(sub_folder), class:"btn btn-light" %> 
    </div>
    <br>
  

</div>
