<h3>Editing sub folder</h3>

<%= turbo_frame_tag "sub_folder" do %>
  <%= render "form", sub_folder: @sub_folder %>

  <br>

  <div>
    <%= link_to "Show this sub folder", @sub_folder %> |
    <%= link_to "Back to sub folders", sub_folders_path, "data-turbo-frame": "_top" %>
  </div>
<% end %>
