<h1>Editing sub folder</h1>

<%= render "form", sub_folder: @sub_folder %>

<br>

<div>
  <%= link_to "Show this sub folder", @sub_folder %> |
  <%= link_to "Back to sub folders", sub_folders_path %>
</div>
