<h3>Sub folders</h3>

<div id="sub_folders">
  <div  class="row" >
  <% @sub_folders.each do |sub_folder| %>
    <div class="col-sm-3 text-center ">
      <%= render sub_folder %>
    </div>   
      <%= link_to "Show this sub folder", sub_folder %>
  <% end %>
  </div>
</div>