<%= turbo_frame_tag "sub_folder" do %>

  <%= render @sub_folder %>

  <div>   
    <%= link_to "Back to sub folders", sub_folders_path, "data-turbo-frame": "_top" %>
    <%= button_to "Destroy this sub folder", @sub_folder, method: :delete %>
  </div>
<% end %>