<td><%= link_to document.filename.to_s.truncate(100), document, title: document.filename, target: '_blank' %></td>
<td>file</td>
<td><%= format_datetime(document.created_at) %></td>
<td></td>
<td colspan="2">
  <%= button_to 'Destroy', folder_document_path(@folder, document), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
</td>
