<%= form_with url: folders_url, method: :post, model: Folder.new, class: 'row' do |f| %>
  <div class="col-9">
    <%= f.text_field :name, placeholder: 'folder name...', required: true, class: "form-control" %>
    <%= f.hidden_field :parent_id, value: @folder&.id %>
  </div>
  <div class="col-3">
    <%= f.submit 'Create', class: "btn btn-primary mb-2" %>
  </div>
<% end %>