<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Type</th>
        <th>Created at</th>
        <th>Last modified</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td></td>
        <td colspan="5">
          <%= link_to('...', folder_path(@folder.parent_folder), title: 'Parent folder') if @folder.parent_folder.present? %>
        </td>
      </tr>

      <% @folders.each do |folder| %>
        <tr>
          <%= render folder %>
        </tr>
      <% end %>

      <% @documents.each do |document| %>
        <tr>
          <%= render 'document', document: document %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>