<p style="color: green"><%= notice %></p>

<%= render 'table' %>

<br>

<%= link_to "New folder", new_folder_folder_path(@folder) %> |
<%= link_to "New document", new_folder_document_path(@folder) %>
