<p style="color: green"><%= notice %></p>

<h1>/</h1>

<table>
  <thead>
    <%= render 'header' %>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>        
        <%= render folder %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New folder", new_folder_path %>
