<p style="color: green"><%= notice %></p>

<h1>Folders</h1>

<div id="folders">
  <% @folders.each do |folder| %>
    <%= render folder %>
    <p>
      <%= link_to "Show this folder", folder %>
    </p>
  <% end %>
</div>

<%= link_to "New folder", new_folder_path %>
