<h3>Folders</h3>
<div id="folders">
  
  <div  class="row" >
    <% @folders.each do |folder| %>
    <div class="col-sm-3 text-center ">
      <%= render folder %>
    </div>
    <% end %>
  </div>

</div>
