<p style="color: green"><%= notice %></p>

<div class="container">
  <h4>Diretório raíz</h4>
  <div id="folders">
    <% @folders.each do |folder| %>
      <p>
        <%= link_to  folder, class: "text-secondary" do %>
          <i class="fa-solid fa-folder-open"></i> <%= folder.name%>
        <%end%>
      </p>
    <% end %>
  </div>
  <%= link_to new_folder_path, class: "text-primary" do %>
    <i class="fa-solid fa-folder-plus"></i> Criar nova pasta
  <%end%>
</div>
