<div class="container mt-3">
  <h4>Criar novo diretório</h4>

  <%= render "form", folder: @folder %>

  <br>
  <div>
    <%= link_to  folders_path, class: "text-danger" do %>
      <i class="fa-solid fa-arrow-right-arrow-left"></i> Retornar 
    <%end%>
  </div>
</div>
