<div class="file-item">
    <div class="file-item-icon file-item-level-up fas fa-level-up-alt text-secondary"></div>
    <%= link_up_folder(@folder) %>
</div>

<%= render @folders %>
<%= render @folder_files %>
