<%= render 'header' %>

<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="card card-materials-index container">
          <div class="card-header">
            <div class="container">
              <div class="d-flex align-items-center" style='margin: 6px 14px'>
                <%= link_to raw("<img src='/arrow-left.svg'>"), directory_path(@image_file.directory_id), class: 'btn btn-primary', method: :get %>
                <h2 style='margin: 0 0 0 30px'>Arquivo - <%= @image_file.name || @image_file.alternative_name %></h2>
              </div>
            </div>
          </div>
          <div class="card-body form-card-body d-flex justify-content-center">
            <div style='max-width: 480px;'>
              <%= image_tag(@image_file.image, style:"width: 100%; height: auto;") %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</main>
