<div class="file-manager-actions container-p-x px-3 py-2">
  <div class="justify-content-between" style="flex: 1;">
    <%= render 'folders/form' %>
    <%= render 'folder_files/form' %>
  </div>
</div>