<div class="file-manager-actions container-p-x py-2">
  <div>
      <button type="button" class="btn btn-primary mr-2"><i class="ion ion-md-cloud-upload"></i>&nbsp; Upload</button>
      <button type="button" class="btn btn-secondary icon-btn mr-2" disabled=""><i class="ion ion-md-cloud-download"></i></button>
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-default md-btn-flat dropdown-toggle px-2" data-toggle="dropdown"><i class="ion ion-ios-settings"></i></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
      </div>
  </div>
  <div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-default icon-btn md-btn-flat active"> <input type="radio" name="file-manager-view" value="file-manager-col-view" checked="" /> <span class="ion ion-md-apps"></span> </label>
      <label class="btn btn-default icon-btn md-btn-flat"> <input type="radio" name="file-manager-view" value="file-manager-row-view" /> <span class="ion ion-md-menu"></span> </label>
    </div>
  </div>
</div>