 <div class="file-item-actions btn-group">
    <button class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="ion ion-ios-more"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <%= button_to "Delete", item_path, method: :delete, class:"dropdown-item" %>
      </li>
    </ul>
  </div>