<%= form_with(model: @folder, url: folder_documents_path, method: :post) do |form| %>
  <div>
    <%= form.label 'File', style: "display: block" %>
    <%= form.file_field :documents %>
  </div>

  <div>
    <%= form.submit 'Create document' %>
  </div>
<% end %>
