<h1>Upload for <%= @folder.name %></h1>
 
<%= form_with model: @folder, url: folder_document_uploads_path(@folder),
              method: :post, local: true do |f| %>
  <%= f.file_field :documents, multiple: true %><br /><br />
  <%= f.submit 'Upload' %>
<% end %>
