<div class='d-flex m-4'>
  <h1>
    <%= I18n.t('archive.new.title') %>
  <h1>
</div>

<div class='d-flex m-4'>
  <%= render 'form', archive: @archive %>
</div>

<div class='d-flex ms-4'>
  <% if @archive.folder.present? %>
    <%= link_to I18n.t('archive.new.back'), folder_path(id: @archive.folder.id), class: 'btn btn-secondary text-white' %>
  <% else %>
    <%= link_to I18n.t('archive.new.back'), folders_path, class: 'btn btn-secondary text-white' %>
  <% end %>
</div>
