<h1>Novo Arquivo</h1>

<%= render 'form', archive: @archive %>

<% if @archive.folder.present? %>
  <%= link_to 'Voltar', folder_path(id: @archive.folder.id) %>
<% else %>
  <%= link_to 'Voltar', folders_path %>
<% end %>
