/// @group components
/// @name folder

.folder
  display: flex
  padding: $s
  border: 1px solid rgba($bluegrey, .3)
  flex-direction: column
  background-color: white
  border-radius: 4px
  transition: .2s

  & &:hover
    background-color: rgba($base-grey, .5)
    border-color: $bluegrey

.folder__title
  display: flex
  margin-bottom: $s

  // .folder:hover > &
  //   margin-bottom: $s
  
  > *
    align-self: center

  span
    margin-left: $s / 2

.folder__items
  display: grid
  grid-gap: $s
  grid-template-columns: repeat(3, minmax(0, 1fr))
  transition: .2s

  & &
    grid-template-columns: repeat(2, minmax(0, 1fr))
  
  & & &
    grid-gap: .4em
  
  // max-height: 0
  // overflow: hidden

  // .folder:hover > &
  //   max-height: 999em 

.folder__wrapper
  margin: 2em auto
  display: flex
  flex-direction: column
