/// @group components
/// @name item

.item
  background-color: red

.item__thumb
  background-position: center
  background-size: cover
  padding-top: 9/16 * 100%

.item__wrapper
  display: grid
  grid-gap: $s
  grid-template-columns: repeat(3, minmax(0, 1fr))
