/// @group components
/// @name folder

.folder
  display: flex
  padding: $s
  border: 1px solid rgba($bluegrey, .3)
  flex-direction: column
  background-color: white
  border-radius: 4px
  transition: .2s

  & &:hover
    background-color: rgba($base-grey, .5)
    border-color: $bluegrey

.folder__title
  display: flex
  
  > *
    align-self: center

  span
    margin-left: $s / 2

.folder__items
  display: grid
  grid-gap: $s
  grid-template-columns: repeat(3, minmax(0, 1fr))
  margin-top: $s

.folder__wrapper
  margin: 2em auto
  display: flex
  flex-direction: column
