<div class="file-item">
  <div class="file-item-select-bg bg-primary"></div>

  <label class="file-item-checkbox custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" />
      <span class="custom-control-label"></span>
  </label>

  <div class="file-item-icon <%= icon_for_mimetype(folder_file.mime) %> text-secondary"></div>

  <%= link_to folder_file.file.filename, rails_blob_path(folder_file.file, disposition: 'attachment') %>

  <div class="file-item-changed">
      <%= l folder_file.updated_at %>
  </div>

  <%= render partial: 'shared/file_item_actions', locals: { item_path: folder_file_path(folder_file) } %>
</div>
