<div class="file-item">
  <div class="file-item-select-bg bg-primary"></div>

  <label class="file-item-checkbox custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" />
      <span class="custom-control-label"></span>
  </label>

  <div class="file-item-icon <%= icon_for_mimetype(folder_file.mime) %> text-secondary"></div>

  <%= link_to folder_file.file.filename, rails_blob_path(folder_file.file, disposition: 'attachment') %>

  <div class="file-item-changed">
      <%= l folder_file.updated_at %>
  </div>

  <div class="file-item-actions btn-group">
    <button type="button" class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="javascript:void(0)">Remove</a>
    </div>
  </div>
</div>
